*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/caches/
/.idea/codeStyles/
/.idea/firebender
.DS_Store
/build
/captures
.externalNativeBuild
mediaeffectswithopengles/build
shadersNfilters/build

# IDE-specific files that should not be tracked
/.idea/ChatHistory_schema_v3.xml
/.idea/deploymentTargetSelector.xml
/.idea/developer-tools.xml