<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAndroid">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- JS-JSONata Integration Demo Activity -->
        <activity
            android:name=".integration.IntegrationDemoActivity"
            android:exported="true"
            android:label="JS-JSONata Integration Demo"
            android:theme="@style/Theme.LearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ES6 Promise Test Activity -->
        <activity
            android:name=".es6promises.ES6PromiseTestActivity"
            android:exported="true"
            android:label="ES6 &amp; Promise Tests"
            android:theme="@style/Theme.LearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WebView JavaScript Test Activity -->
        <activity
            android:name=".webview.WebViewJSTestActivity"
            android:exported="true"
            android:label="WebView JavaScript Tests"
            android:theme="@style/Theme.LearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- JavaScript & Android Bridge Demo Activity -->
        <activity
            android:name=".bridge.JSBridgeDemoActivity"
            android:exported="true"
            android:label="JavaScript &amp; Android Bridge Demo"
            android:theme="@style/Theme.LearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Bridge Debug Activity -->
        <activity
            android:name=".bridge.BridgeDebugActivity"
            android:exported="true"
            android:label="Bridge Debug Test"
            android:theme="@style/Theme.LearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>